@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: lighter; */
    background: white;
    overflow: hidden;
}

@media screen and (prefers-reduced-motion: no-preference) {
    body.switched {
        transition: color 0.6s, background-color 0.6s;
    }
}

h1,
h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    /* font-weight: lighter; */
    color: #888;
}

.listheader {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

.item_selected {
    background: #d0cece;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .written-in-ink {
        transition: color 0.6s, background 0.6s;
    }
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.row {
    display:grid;
    grid-template-columns: 20.0% 50.0% 30.0%;
    justify-content: left;
    text-align: left;
    margin: 8px;
}

.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* margin-top: 24px; */
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.sidebar {
    display: block;
    /* max-width: 600px; */
    width: 90%;
    height: fit-content;
    /* margin: 0 auto; */
    padding: 10px;
    /*
    padding-top: 4em;
    background-image: url('background.png');
    */
    background: white;
}

.imagesidebar {
    display: block;
    height: fit-content;
    /* max-width: 600px; */
    /* margin: 0 auto; */
    padding-left: 8px;
    /* padding-top: 4em; */
}

.container {
    display: block;
    height: fit-content;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 10px;
    /* padding-top: 4em; */
    background: white;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .switched .container {
        transition: background-color 0.6s;
    }
}

p {
    font-size: 13pt;
    color: #111;
    line-height: 1.7em;
    /* font-weight: lighter; */
}

a {
    font-weight: 700;
    color: #b97c2c;
    font-family: sans-serif;
    text-decoration: none;
}

.unclickable {
    font-weight: 700;
    color: #4f3411;
    font-family: sans-serif;
    text-decoration: none;
    cursor: not-allowed;
}

a:hover {
    color: black;
}

@media screen and (prefers-reduced-motion: no-preference) {
    a {
        transition: color 0.6s;
    }

    a:hover {
        transition: color 0.1s;
    }
}

strong {
    color: black;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .container>* {
        transition: opacity 1.0s;
    }
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.7em;
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/
.choice a, .choice span {
    font-size: 15pt;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    z-index: 4;
    text-align: center;
    padding-bottom: 6px;
    /*
    font-size: 9pt;
    position: fixed;
    right: 14px;
    background: white;
    */
    top: 4px;
    user-select: none;
}

@media screen and (prefers-reduced-motion: no-preference) {
    #controls {
        transition: color 0.6s, background 0.6s;
    }
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}

/* 
  Dark Theme (Added in Inky 0.10.0)
    # theme: dark
*/

body.dark {
    background: black;
    color: white;
}

.dark h2 {
    color: #666;
}

.dark .container {
    background: black;
}

.dark .written-in-ink {
    background: black;
}

.dark a {
    color: #cc8f1a;
}
.dark .unclickable{
    color: #c4af87;
    cursor:not-allowed;
}

.dark a:hover {
    color: white;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .dark a {
        transition: color 0.6s;
    }
}

.dark strong {
    color: white;
}

.dark #controls [disabled] {
    color: #444;
}

.dark .end {
    color: white;
}

.dark #controls {
    background: black;
}


/* For the combination box table(s) */
table.combo button {
	background-color: DimGray;
	width: 100%;
	height: 100%;
	border: none;
	color: white;
	padding: 0px 0px;
	font-size: 12px;
	cursor: pointer;
}

table.combo img {
	background-color: DimGray;
	border: none;
	padding: 0px 0px;
    vertical-align: middle;
    text-align: center;
}

/* Darker background on mouse-over */
table.combo button:hover {
	background-color: LightGray;
}
table.combo-holder {
	border-spacing: 0;
    margin: 0 auto;
}
table.combo-holder td {
	padding: 0px 1px;
}
table.combo {
	color: white;
	background-color: DimGray;
    vertical-align: middle;
    text-align: center;
	border-spacing: 0;
	border-collapse: separate;
	border-radius: 6px;
	border: 1px solid black;
}
table.combo td {
	width: 2em;
	height: 2em;
}
table.combo th {
	width: 2em;
	height: 1.5em;
}

/* Apply a border to the right of all but the last column */
table.combo th:not(:last-child),
table.combo td:not(:last-child) {
	border-right: 1px solid black;
}

/* Apply a border to the bottom of all but the last row */
table.combo>thead>tr:not(:last-child)>th,
table.combo>thead>tr:not(:last-child)>td,
table.combo>tbody>tr:not(:last-child)>th,
table.combo>tbody>tr:not(:last-child)>td,
table.combo>tfoot>tr:not(:last-child)>th,
table.combo>tfoot>tr:not(:last-child)>td,
table.combo>tr:not(:last-child)>td,
table.combo>tr:not(:last-child)>th,
table.combo>thead:not(:last-child),
table.combo>tbody:not(:last-child),
table.combo>tfoot:not(:last-child) {
	border-bottom: 1px solid #505050;
}
